menu "ASPEED MMBI driver"

config ASPEED_MMBI
	tristate "ASPEED MMBI driver"
	help
	  Enable support for the ASPEED MMBI driver. This driver
	  provides a communication channel between the Host and the BMC
	  over PCIe using the MMBI (Memory Mapped Buffer Interface).

config ASPEED_PCIE_MMBI
	tristate "ASPEED PCIE MMBI"
	depends on ASPEED_MMBI

config ASPEED_HOST_PCIE_MMBI
	tristate "ASPEED Host PCIE MMBI"

endmenu
