// SPDX-License-Identifier: GPL-2.0-or-later

#include "ast2700-evb.dts"

/ {
	model = "AST2700-EVB Test S0 Test";
};

&espi1 {
	status = "okay";
	perif-dma-mode;
	perif-mmbi-enable;
	perif-mmbi-src-addr = <0x0 0xa8000000>;
	perif-mmbi-tgt-memory = <&espi1_mmbi_memory>;
	perif-mmbi-instance-num = <0x1>;
	perif-mcyc-enable;
	perif-mcyc-src-addr = <0x0 0x98000000>;
	perif-mcyc-size = <0x0 0x10000>;
	oob-dma-mode;
	flash-dma-mode;
};

&sdio_controller {
	status = "disabled";
};

&sdhci {
	status = "disabled";
};
