// SPDX-License-Identifier: GPL-2.0-or-later

/dts-v1/;

#include "ast2700-evb.dts"

/ {
	model = "AST2700-CI-HOST";
};

&bmc_dev0 {
	status = "disabled";
};

&xdma0 {
	status = "disabled";
};

&pcie_vuart0 {
	status = "disabled";
};

&pcie_vuart1 {
	status = "disabled";
};

&pcie_lpc0_kcs0 {
	status = "disabled";
};

&pcie_lpc0_kcs1 {
	status = "disabled";
};

&pcie_lpc0_kcs2 {
	status = "disabled";
};

&pcie_lpc0_kcs3 {
	status = "disabled";
};

&pcie_lpc0_ibt {
	status = "disabled";
};

&pcie0_mmbi0 {
	status = "disabled";
};

&pcie0 {
	status = "okay";
};

&bmc_dev1 {
	status = "disabled";
};

&xdma1 {
	status = "disabled";
};

&pcie_vuart2 {
	status = "disabled";
};

&pcie_vuart3 {
	status = "disabled";
};

&pcie_lpc1_kcs0 {
	status = "disabled";
};

&pcie_lpc1_kcs1 {
	status = "disabled";
};

&pcie_lpc1_kcs2 {
	status = "disabled";
};

&pcie_lpc1_kcs3 {
	status = "disabled";
};

&pcie_lpc1_ibt {
	status = "disabled";
};

&pcie1_mmbi4 {
	status = "disabled";
};

&pcie1 {
	status = "okay";
};

&pcie2 {
	status = "okay";
};

&mdio0 {
	status = "disabled";
};

&mdio1 {
	status = "disabled";
};

&sgpios {
	status = "disabled";
};

&mac0 {
	status = "okay";

	phy-mode = "rmii";
	use-ncsi;

	pinctrl-names = "default";
	/* If you want to use RMII0 RCLKO as internal clock for RMII,
	 * add &pinctrl_rmii0_rclko_default in pinctrl-0.
	 */
	pinctrl-0 = <&pinctrl_rmii0_default>;
};

&mac1 {
	status = "okay";

	phy-mode = "rmii";
	use-ncsi;

	pinctrl-names = "default";
	/* If you want to use RMII1 RCLKO as internal clock for RMII,
	 * add &pinctrl_rmii1_rclko_default in pinctrl-0.
	 */
	pinctrl-0 = <&pinctrl_rmii1_default>;
};
