// SPDX-License-Identifier: GPL-2.0-or-later

#include "ast2700-evb.dts"
#include <dt-bindings/i2c/i2c.h>

/ {
	model = "AST2700-EVB Test S1 Test";
};

&mdio0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};

&mdio1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ethphy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		/* For DDR5 board */
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};
};

&mac0 {
	status = "okay";

	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii0_default &pinctrl_rgmii0_driving>;
};

&mac1 {
	status = "okay";

	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_rgmii1_driving>;
};

&pcie0 {
	status = "okay";
};

&pcie1 {
	status = "okay";
};

&pcie2 {
	status = "okay";
};

&syscon1 {
	mac0-clk-delay = <0x18 0x16
			  0x10 0x10
			  0x10 0x10>;
	mac1-clk-delay = <0x18 0x17
			  0x10 0x10
			  0x10 0x10>;
	assigned-clocks = <&syscon1 SCU1_CLK_MACHCLK>,
			  <&syscon1 SCU1_CLK_RGMII>,
			  <&syscon1 SCU1_CLK_RMII>;
	assigned-clock-rates = <200000000>, <125000000>, <50000000>;
};

&espi1 {
	status = "okay";
	perif-dma-mode;
	perif-mmbi-enable;
	perif-mmbi-src-addr = <0x0 0xa8000000>;
	perif-mmbi-tgt-memory = <&espi1_mmbi_memory>;
	perif-mmbi-instance-num = <0x1>;
	perif-mcyc-enable;
	perif-mcyc-src-addr = <0x0 0x98000000>;
	perif-mcyc-size = <0x0 0x10000>;
	oob-dma-mode;
	flash-dma-mode;
};

&sdio_controller {
	status = "disabled";
};

&sdhci {
	status = "disabled";
};

&can0 {
	status = "disabled";
};

// S1 use 0x12 as its slave address
&i2c0 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c1 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c2 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c3 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c4 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c5 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c6 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c7 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c8 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c9 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c10 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c11 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c12 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c13 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c14 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};

&i2c15 {
	clock-frequency = <1000000>;
	status = "okay";
	multi-master;
	mctp-controller;
	mctp@12 {
		compatible = "mctp-i2c-controller";
		reg = <(0x12 | I2C_OWN_SLAVE_ADDRESS)>;
	};
};
